body
{
	min-width: 890px;
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background: #eff6ff url('../img/bg_main.gif');
	font: normal 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
}

a
{
	color: #009;
	text-decoration: underline;
}

a:hover { color: #36F; }

.hiddenblock
{
	visibility: hidden;
	display: none;
}

.divider-block
{
	display: block;
	height: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px dotted #999;
	clear: both;
}

#container
{
	margin: 0 10px auto 10px;
	padding: 0;
	border: 0;
}

#container-inner
{
	margin: 0;
	padding: 0;
	border: 0;
}

#banner
{
	width: 100%;/* necessary for ie win */
	height: 60px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_banner.jpg') top left repeat-x;
}

#banner-inner
{
	width: 100%;/* necessary for ie win */
	height: 60px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background: url('../img/bg_banner-inner.jpg') top right no-repeat;
}

#banner-header
{
	width: 870px;/* necessary for ie win */
	height: 60px;
	margin: 0;
	padding: 0 0 0 10px;
	border: 0;
	background: url('../img/bg_banner-header.jpg') top left no-repeat;
	font: normal 21px/80px georgia, garamond, 'times new roman', times, serif !important;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#banner-header a
{
	font: normal 21px/80px georgia, garamond, 'times new roman', times, serif !important;
	color: #fff;
	text-decoration: none;
}

#banner-header a:hover
{
	color: #ccc;
	text-decoration: none;
}

.bigger { font-size: 28px; }

#banner-department
{
	position: absolute;
	top: 5px;
	left: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 18px georgia, garamond, 'times new roman', times, serif !important;
	color: #fff;
}

#idnav
{
	width: 100%;/* necessary for ie win */
	height: 27px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_idnav.jpg') top left repeat-x;
}

#idnav-inner
{
	width: 100%;/* necessary for ie win */
	height: 27px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background: url('../img/bg_idnav-inner.jpg') top right no-repeat;
}

#idnav-inner ul
{
	width: 100%;/* necessary for ie win */
	height: 27px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_idnav-header.jpg') top left no-repeat;
	list-style: none;
	line-height: 20px;
	font-size: 11px;
}

#idnav-inner ul li
{
	display: block;
	float: right;
	padding: 0 15px 0 30px;
}

#idnav-inner ul li#cckc_alert
{
	margin: 0 50px 0 0;
	padding: 0 30px 0 30px;
	border: 0;
	background-color: #fc6;
	font-weight: bold;
	display: none;
}


#idnav-inner ul li#cckc_alert a
{
	display: inline;
	margin: 0;
	padding: 0;
	color: #c00;
}


#idnav-inner ul li#cckc_home
{
	background: url('../img/icon_home.gif') 15px center no-repeat;
}

#idnav-inner ul li.cckc_generic
{
	border-left: 1px solid #69f;
	padding-left: 10px;
}

#idnav-inner ul li#cckc_home:hover
{
	background: url('../img/icon_home_hover.gif') 15px center no-repeat;
}

#idnav-inner ul li#cckc_fb
{
	border-left: 1px solid #69f;
	background: url('../img/icon_email.gif') 15px center no-repeat;
}

#idnav-inner ul li#cckc_fb:hover
{
	background: url('../img/icon_email_hover.gif') 15px center no-repeat;
}

#idnav-inner ul li#cckc_disclaimer
{
	border-left: 1px solid #69f;
	font-weight: bold;
	background: url('../img/icon_disclaim.gif') 15px center no-repeat;
	color: #c00;
}

#idnav-inner ul li#cckc_disclaimer a
{
	color: #c00;
}

#idnav-inner ul li#cckc_disclaimer:hover
{
	background: url('../img/icon_disclaim_hover.gif') 15px center no-repeat;
}

#idnav-inner ul li a
{
	display: block;
	margin: 0 0 0 5px;
	text-decoration:none;
}

#pagebody
{
	margin: 5px 2px;
	padding: 0;
	border: 0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #fff url('../img/bg_pagebody.gif') top left repeat-y;
}

#alloffenses
{
	margin: 0;
	padding: 0;
	border: 0;
}

.alpha
{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	width: 270px;
}

.alpha-inner
{
	margin: 0;
	margin-left: -1px;
	padding: 0;
	border: 0;
}

.alpha-header
{
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.alpha-header-inner
{
	margin: 0;
	padding: 0;
	border: 0;
}

.alpha-header h2
{
	width: 271px !important;
	height: 28px !important;
	margin: 0;
	padding: 0 10px;
	border: 0;
	background: #fff url('../img/bg_alpha-header.jpg') top left no-repeat;
	overflow: hidden;
	text-transform: uppercase;
	font: bold 14px/24px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

#startoveralert
{
	margin: 0;
	padding: 0 10px 10px 10px;
	border: 0;
	display: none;
}

.column-content
{
	margin: 0;
	padding: 0 10px 10px 10px;
	border: 0;
}

.column-content a
{
	text-decoration: none;
}

.column-content h3
{
	margin: 0;
	padding: 5px 0 0 0;
	border: 0;
	font: bold 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
}

h3.selectedoffense
{
	margin: 0;
	padding: 5px 14px 0 5px;
	border: 0;
	font: bold 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
}

h3.comparison
{
	margin: 0;
	padding: 4px 0 2px 0;
	border: 0;
	font: bold 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
	color: #369;
	/*border-bottom: 1px dotted #999;*/
}
#compare_return
{
    float:left;
}
#list_chzn
{
    width: 185px !important;
}
#compare_auto_complete
{
    border-bottom: 1px dotted #999;
}
#compare_btn
{
    float:left;
    margin:-1px 0 10px 4px;
}
div.comparison
{
	margin: 0;
	padding: 5px;
	border: 0;
	font: bold 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
	color: #369;
	border-bottom: 1px dotted #fff;
}

h3.newsearch
{
	margin: 0 1px;
	padding: 0 10px;
	border: 0;
	text-transform: uppercase;
	font: bold 14px/24px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
	background-color: #eaeaea;
}

.column-content h3 a
{
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
}

.column-content .two-categories
{
	margin: 0;
	padding: 15px 0 5px 0;
	border: 0;
	font: bold 12px verdana, 'trebuchet ms', helvetica, arial, sans-serif;
}

.column-content ul
{
	margin: 0;
	padding: 0;
	border: 0 !important;
	list-style: none;
	background: none;
}

.column-content ul ul li
{
	font-size: 11px;
}

.column-content ul div.chargelist
{
	background: none;
}

.column-content ul.selectedcharges li
{
	margin: 5px 0 0 0;
	padding-left: 15px !important;
	background: url('../img/bullet.gif') 0 1px no-repeat !important;
	font-size: 12px;
}

.column-content ul li.offensecategory
{
	background: none !important;
	font-size: 12px;
}

.column-content ul li.offensecategory a
{
	padding-left: 0;
}

.tabsbox
{
	height: 25px;
	border-bottom: 1px solid #999;
	margin: 5px 0 5px 0;
}

.tabs
{
	float: left;
	height: 19px;
	line-height: 19px;
	width: 40%;
	padding: 0 5px;
	margin: 5px 2px 0 2px;
	border: 1px solid #999;
	font-size: 11px;
	background-color: #efefef;
}

.activetab
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

.menu
{
	margin: 1px 0 0 15px !important;
	padding: 0;
	border: 0 !important;
}

.menu li
{
	margin: 10px 0 10px 0;
	padding: 0;
	border: 0;
}

.menu li a
{
	display: block;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
}

.ccmenu
{
	margin: 1px 0 0 2px !important;
	padding: 0;
	border: 0 !important;
}

.ccmenu li
{
	margin: 10px 0 10px 0;
	padding: 0;
	border: 0;
}

.ccmenu li a
{
	display: block;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
}

.chargelist
{
	margin-top: 6px !important;
	margin-bottom: 15px !important;
	padding: 0 2px !important;
	border: 0 !important;
/*	height: 100px;
	overflow: auto;
	*/
}

.chargelist ul
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	list-style: none !important;
}

.chargelist ul li
{
	padding: 0 !important;
	background: url('../img/bullet.gif') 0 1px no-repeat !important;
}

.beta
{
	margin: 0 0 0 271px;
	padding: 0;
	background: none;
	border: 0;
	min-height: 210px;
}

.beta-inner
{
	margin: 0;
	margin-left: -1px;
	margin-right: -2px;
	padding: 0;
	border: 0;
}

.beta-header
{
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_beta-header-inner.jpg') top left repeat-x;
	overflow: hidden;
}

.beta-header-inner
{
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 1px solid #eff6ff;
	background: url('../img/bg_beta-header-innerright.jpg') top right no-repeat;
}

.beta-header h2
{
	height: 28px !important;
	margin: 0;
	padding: 0 10px;
	border: 0;
	background: url('../img/bg_beta-header.jpg') top left no-repeat;
	overflow: hidden;
	text-transform: uppercase;
	font: bold 14px/24px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

div.forthisoffense
{
	margin: 2px 0 0 0;
}

.capitalized { text-transform: capitalize; }

.cc-table
{
	width: 99%;
	padding: 0;
	margin: 5px 0 0 5px;
	border: 1px solid #999;
}

.cc-table th,
.cc-table td
{
	width: 33%;
}

.cc-table th
{
	border: 0;
	border-bottom: 1px solid #999;
	padding: 1px 0;
	text-align: center;
	color: #fff;
}

.cc-table td
{
	border: 0;
	border-bottom: 1px solid #999;
	padding: 1px 0;
	text-align: left;
	vertical-align: top;
}

.cc-table2
{
	margin-top: 0;
	border-top: 0;
}

.cc-yes
{
	border-right: 1px solid #fff !important;
	background-color: #c00;
}

.cc-probably
{
	border-right: 1px solid #fff !important;
	background-color: #c66;
}

.cc-maybe
{
	border-right: 0 !important;
	background-color: #f99;
}

.tdcc-yes
{
	border-right: 1px dotted #999 !important;
}

.tdcc-probably
{
	border-right: 1px dotted #999 !important;
}

.tdcc-maybe
{
	border-right: 0 !important;
}

#footer 
{
	clear: both;
	height: 30px;
	overflow: hidden;
	margin: 0 10px 10px 10px;
	padding: 0;
	border: 0;
	text-align: right;
}

#footer ul
{
	float: right;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font: normal 12px "trebuchet ms", verdana, arial, helvetica, sans-serif;
	color: #000;
}

#footer ul li
{
	float: left;
	margin: 0;
	padding: 0 10px;
	border: 0;
	font: normal 12px/30px "trebuchet ms", verdana, arial, helvetica, sans-serif;
}

#footer ul li a
{
	color: #000;
	text-decoration: none;
}

#footer ul li a:hover
{
	color: #000;
	text-decoration: underline;
}

#ccnmtl-link
{
	float: right;
	margin: 0 0 0 5px;
	padding: 0;
	border: 0;
	background: url('../img/ccnmtl-logo.gif') center left no-repeat;
}

#ccnmtl-link a
{
	display: block;
	width: 112px;
	height: 30px;
}

#ccnmtl-link span
{
	visibility: hidden;
	display: none;
}

.hs-control-show
{
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/opened.gif') left top no-repeat;
}

.hs-control-hide,
.hs-init-hide
{ 	
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/closed.gif') left top no-repeat;
}

.hs-show { display: block; }
.hs-hide { display: none; }

#disclaimer, #feedbackform { 
              display: none;
              border-top: 1px solid #999;
              /*position: absolute;*/ 
              /*width: 100%;*/ 
              /*height: 100%; 
              top: 0px; 
              left: 0px;
              padding: 10px;*/
              background-color: #fff;
              }

#feedbackform { 
              padding: 10px;
              }

#feedbackform h1
{
	font: bold 16px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
	color: #000;
	margin: 0 0 1em 0;
	padding: 0;
}

#disclaimer h1 { color: #f00; padding: 20px;}
#disclaimer h3 { padding: 10px 0 0 20px; margin: 0;}
#disclaimer p { min-width: 800px;  padding: 0 20px; margin-top: 0;}

.textfield
{
	width: 180px;
}

.searchButton
{
	margin: 3px 0 0 0 !important;
	padding: 1px !important;
	background-color: #e0e0e0 !important;
	border-top: 2px solid #fff !important;
	border-left: 2px solid #fff !important;
	border-right: 2px solid #666 !important;
	border-bottom: 2px solid #666 !important;
	cursor: pointer !important;
	font: normal 11px/130% arial, verdana, helvetica, sans-serif !important;
}

.searchButton:active
{
	background-color: #ccc !important;
	border-top: 2px solid #666 !important;
	border-left: 2px solid #666 !important;
	border-right: 2px solid #fff !important;
	border-bottom: 2px solid #fff !important;
}

a.searchButton
{
	padding: 3px !important;
	color: #000;
	text-decoration: none;
}

#smartsearch
{
	margin: 0;
	padding: 0;
	border: 0;
}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}
        
/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}
 
/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
	display: block;
	height: 21px;
	margin: 0 -1px;
	padding: 0 0 0 3px;
	border: 0;
	border-left: 1px solid #fff !important;
	border-right: 1px solid #fff !important;
	border-bottom: 1px solid #999 !important;
	list-style: none;
}

ul.tabbernav li
{
	display: block;
	width: 102px;
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0;
	border: 0;
	line-height: 21px;
	text-align: center;
}

#editscreen ul.tabbernav li {
  width: 200px;
}

ul.tabbernav li a
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background: #dce7fb url('../img/bg_tabbernav.jpg') left top no-repeat;
}

#editscreen ul.tabbernav li a {
 background: #dce7fb;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li.tabberactive a
{
	border-bottom: 1px solid #fff;
	background: #fff url('../img/bg_tabberactive.jpg') left top no-repeat;
	font-weight: bold;
}

.tabberlive .tabbertab
{
	margin: 0;
	padding: 0;
	border: 0;
}

#outer-tabber
{
	margin: 1em 0;
	padding: 0;
	border: 1px solid #999;
	border-top: none;
}

#immig_box, #seeall_box, #housing_box
{
	display: none;
}

.offensebox
{
	margin: 1em 0 2em 0;
	padding: 0;
	border: 0;
}

.offensesorttype
{
	margin: 0 0 1em 0;
	padding: 2px 0 2px 5px;
	background-color: #efefef;
	color: #369;
}

.offensesorttype2
{
	margin: 1em 0 0 0;
	padding: 2px 0 2px 5px;
	background-color: #efefef;
	color: #369;
}

.offensesorttype3
{
	margin: 2em 0 0 0;
	padding: 2px 0 2px 5px;
	background-color: #efefef;
	color: #369;
}

.offensenotvetted
{
	color: #c00;
	background: url('../img/alert.gif') left top no-repeat;
	line-height: 20px;
	margin-left: 5px;
	padding-left: 23px;
}

/* ------------------------
   pop-up windows
--------------------------- */

.popupwin
{
	margin: 5px 10px;
	padding: 0;
	border: 0;
	background: #fff none;
}

.popupwin #header
{
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_popup_left.jpg') left top no-repeat;
}

.popupwin #header_inner
{
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_popup_right.jpg') right top no-repeat;
}

.popupwin #header h1
{
	height: 28px !important;
	margin: 0 10px;
	padding: 0;
	border: 0;
	background: url('../img/bg_popup_middle.jpg') left top repeat-x;
	overflow: hidden;
	text-transform: uppercase;
	font: bold 14px/24px 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

.popupwin #pagebody
{
	margin: 0;
	padding: 10px 0 10px 0;
	border: 1px solid #999;
	border-top: none;
	background: none;
}

.popupwin h2
{
	margin: 0 0 10px 0;
	padding: 3px 10px;
	background-color: #e2edf9;
	font: inherit;
	font-weight: bold;
}

.popupwin p
{
	margin-left: 10px;
	margin-right: 10px;
}

.popupwin ul, .popupwin ol
{
	margin-left: 10px;
	margin-right: 10px;
}

.popupwin li
{
	margin-bottom: 6px;
}

.popupwin li a { color: #000; text-decoration: none;}


ul#primarynavtabs li { display: inline;}

#editscreen {background: #fff; margin: 1em;}

.disclaimer_print
{
	display: none;
}
#disclaimer_tips_strategies{
    float:left;
    width:225px;
    padding:8px;
    font-size:10px;
}

#videos {
display: block;
width: 900px;
margin-left: auto;
margin-right: auto;
}

#first-video {
float: left;
width: 450px;
height: 325px;
}
#second-video {
float: left;
width: 450px;
height: 325px;
}

#videos a {
text-decoration: none;
color: #333;
font-size: 1.2em;
margin: 1em;
}

#videos p {
margin: 1em;
}
