@import "main.css";

body
{
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background: #fff none;
	font: 1em serif !important;
}

h1, h2, h3, h4
{
	font-weight: bold !important;
	font-family: serif !important;
}

h1
{
	margin: 0;
	padding: 0;
	font-size: 1.5em !important;
}

h2
{
	margin: 0;
	padding: 0;
	font-size: 1.2em !important;
}

h3
{
	margin: 0;
	padding: 0;
	font-size: 1em !important;
}

a
{
	color: #000;
	text-decoration: underline;
}

a:hover { color: #000; }

.divider-block
{
	border-bottom: 1px solid #999;
}

#banner
{
	margin: 0 0 20px 0;
	border-bottom: 1px dotted #000;
	background: #fff none;
}

#banner-inner
{
	background: #fff none;
}

#banner-header
{
	background: #fff none;
}

#banner-header a
{
	font: normal 21px/80px georgia, garamond, 'times new roman', times, serif !important;
	color: #000;
	text-decoration: none;
}

#banner-header a:hover
{
	color: #000;
	text-decoration: none;
}

#banner-department
{
	color: #000;
}

#pagebody
{
	border: 1px solid #999;
	background: #fff none !important;
}

.alpha
{
	border-right: 1px dotted #999;
	width: 250px;
}

.alpha-inner
{
	margin: 0;
}

.alpha-header h2
{
	width: 251px !important;
	height: 45px !important;
	border-bottom: 1px solid #999;
	background: #eaeaea none top;
}

.column-content ul ul li
{
	font-size: 1em !important;
}

.column-content ul.selectedcharges li
{
	font-size: 1em !important;
}

.beta-inner
{
	margin: 0;
}

.beta-header
{
	background: none;
	overflow: hidden;
}

.beta-header-inner
{
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 1px solid #eff6ff;
	background: none;
}

.beta-header h2
{
	height: 45px !important;
	border-bottom: 1px solid #999;
	background: #eaeaea none top;
}

#footer
{
	height: 50px;
}

#ccnmtl-link
{
	background: none;
}

#ccnmtl-link a
{
	display: block;
	width: auto;
	height: auto;
}

#ccnmtl-link span
{
	visibility: visible;
	display: inline;
}

#footer ul
{
	visibility: hidden;
	display: none;
}

#footer .hiddenblock
{
	visibility: visible;
	display: inline;
}

#footer h3.hiddenblock
{
	visibility: hidden;
	display: none;
}

td.acronym
{
	height: 17px;
	width: 17px;
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
}

td.columbiarow
{
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 2px;
}

.hs-control-hide,
.hs-init-hide
{ 	
	display: inline;
	visibility: visible;
}

.hide-print
{
	visibility: hidden;
	display: none;
}

#idnav, .alpha, .tabbernav
{
	display: none !important;
}

.beta
{
	margin: 0;
	border: 0;
}

.tabbertab, .offensebox, .tabberlive
{
	border: 0 !important;
}

.cc-yes
{
	background-color: #fff !important;
	font-weight: bold;
	color: #c00 !important;
}

.cc-probably
{
	background-color: #fff !important;
	font-weight: bold;
	color: #c66 !important;
}

.cc-maybe
{
	background-color: #fff !important;
	font-weight: bold;
	color: #f99 !important;
}

ul.ccmenu li { list-style-type: square; padding-left: 0; }

ul.ccmenu ul.selectedcharges li { list-style-type: circle; padding-left: 0; }

.disclaimer_print
{
	display: block !important;
}

