body {margin: 0px; padding: 0px;}

.event { 
    border-top: #ddd solid 1px; 
    max-width: 500px; 
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 0px;
}
.event .byline { color: #666;}
.event .note { color: #444;}

#editnav { margin: 0; background-color: #ccc; border-bottom: #000 solid 1px;}
#path { font-size: .8em; margin: 0; padding-top: .5em; background-color: #ddd; border-bottom: #000 solid 1px;}

table.categories {width: 100%; border: #ccc solid 1px; border-collapse: collapse;}
table.categories td {border: #ccc solid 1px; }
table.categories th {border: #ccc solid 1px; }
th.yes {background-color: #c00; color: #fff; width: 30%;}
th.probably {background-color: #c66; color: #fff; width: 30%;}
th.maybe {background-color: #f99; color: #fff; width: 30%;}

tr.even td {background-color: #eef;}
tr.even th {font-size: .8em;}
tr.odd th {font-size: .8em;}

#search {
    font-size: .8em;
    display: inline;
  float: right;
  margin-top: -1.5em;
}

#search input {font-size: .7em;}
#search input[type="text"] { border: #666 solid 1px;}

#search form { display: inline; margin-top: -1em;}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}
