{% extends "base.html" %}

{% block content %}
{{ block.super }}

<div id="path">
{% for p in charge.parents %}&raquo;<a href="{{p.get_absolute_url}}">{{ p.penal_code }} {{ p.label }}</a>{% endfor %}
</div>
<h2>{{ charge.penal_code }} {{ charge.label }}</h2>


<div class="tabber">
  {% if charge.children %}
  <div id="view" class="tabbertab" title="sub-charges">

<ul>
{% for charge in charge.children %}
<li><a href="{{charge.get_absolute_url}}">{{ charge.penal_code }} {{ charge.label }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

</div>


<div class="tabber">

  {% if charge.view_all %}
  <div id="view-categories" class="tabbertab" title="view">

<table class="categories">
  <tr>
    <th class="yes">yes</th>
    <th class="probably">probably</th>
    <th class="maybe">maybe</th></tr>
  <tr>
    <td>
      <ul>
	{% for cc in charge.view_yes %}
	<li><a href="{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a>
	  <ul>
	    {% for clco in cc.classification.classificationconsequence_set.all %}
	    <li><a href="{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in charge.view_probably %}
	<li><a href="{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a>
	  <ul>
	    {% for clco in cc.classification.classificationconsequence_set.all %}
	    <li><a href="{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in charge.view_maybe %}
	<li><a href="{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> 
	  <ul>
	    {% for clco in cc.classification.classificationconsequence_set.all %}
	    <li><a href="{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>
  </tr>

</table>

</div>

{% else %}

{% if not charge.children %}
{# only show message if this is a leaf charge #}
<p>There are no consequences listed for this charge</p>
{% endif %}
{% endif %}

</div>

{% endblock %}
