{% extends "base.html" %}
{% load cc_extras %}
{% load cache %}
{% block title %}{{ charge.penal_code }} {{ charge.label }}{% endblock %}

{% block breadcrumbs %}
{% for p in charge.parents %}&raquo;<a href="{{p.get_absolute_url}}">{{ p.penal_code }} {{ p.label }}</a>{% endfor %}
{% endblock %}

{% block content %}
{{ block.super }}

  <div class="alpha">
    <div class="alpha-inner">
      <div class="alpha-header">
	<div class="alpha-header-inner">
	  <h2>Criminal Charges:</h2>
	</div><! --/alpha-header-inner -->
      </div><! --/alpha-header -->

      <div class="column-content hide-print">

	<div class="tabsbox">
	  <div id="comparelisttab" class="tabs activetab">
	    <a href="#comparelist" onclick="splitanchor(this); return false;">Compare</a>
	  </div> <!-- /comparelisttab -->

	  <div id="newsearchlisttab" class="tabs">
	    <a href="#newsearchlist" onclick="splitanchor(this); return false;">Start over</a>
	  </div>
	</div>

	<!-- List of charges to compare -->
	<div id="comparelist">
	  <h3 class="comparison">Compare this offense with...</h3>
	  <ul id="offenses" class="menu"><!-- Begin the charges listed by Offenses -->
	    {% cache 500 menu %}
	    {% for charge in charges %}
	    {{ charge.as_view_compare_ul|safe}}
	    {% endfor %}
	    {% endcache %}
	  </ul>
	</div><!-- /comparelist -->


	<div id="newsearchlist">
	  <h3 class="comparison">Start over with a new offense:</h3>
	  <ul id="offenses-so" class="menu"><!-- Begin the charges listed by Offenses -->
	    {% cache 500 menu_compare %}
	    {% for charge in charges %}
	    {{ charge.as_view_ul|safe}}
	    {% endfor %}
	    {% endcache %}
	  </ul>
	</div><!-- /newsearchlist -->

      </div><!-- id=column-content -->
    </div><!-- id=alpha-inner -->
  </div><!-- id=alpha -->

  <div class="beta">
    <div class="beta-inner">
      
      <div class="beta-header">
        <div class="beta-header-inner">
          <h2>Collateral Consequences:</h2>
        </div><!-- id=beta-header-inner -->
      </div><!-- id=beta-header -->

      <div id="resultscontentbox">
	<div class="column-content">
          <div class="tabber" id="outer-tabber">
            <div class="tabbertab" title="See all">
              <div class="offensebox">
                <div class="offensetitle">
                  <h3 class="comparison">PRIMARY OFFENSE: </h3>
		  <h3 class="selectedoffense">{{ charge.penal_code }} {{ charge.label }}</h3>
		</div> <!-- /offensetitle -->

		{% if charge.children %}
		<ul>
		  {% for charge in charge.children %}
		  {{ charge.as_view_ul|safe }}
		  {% endfor %}
		</ul>
		{% endif %} {# /charge.children #}

		{% if charge.view_all %}
		<table border="1" width="99%" cellspacing="0" cellpadding="0" class="cc-table">
		  {% include 'law/charge_thead.html' %}
		  <tbody>
		    {% for area in charge.all_consequences_by_area %}
		    <tr valign="top">
		      <td colspan="3" class="offensesorttype2">
			{{area.area.label}}: Breakdown by offense classification
		      </td>
		    </tr>

		    {% with "showall" as section %}
		    {% include 'law/charge_row.html' %}
		    {% endwith %} 

		    {% endfor %}
		  </tbody>
		</table>
		{% endif %} {# /charge.view_all #}
	      </div> <!-- /offensebox -->

	      {% if charge2 %}
	      <div class="offensebox">
		<div class="offensetitle">
		  <h3 class="comparison">COMPARE WITH: </h3>
		  <h3 class="selectedoffense">{{ charge2.penal_code }} {{ charge2.label }}</h3>
		</div> <!-- /offensetitle -->
		{% if charge2.children %}
		<ul>
		  {% for charge in charge2.children %}
		  {{ charge.as_view_ul|safe }}
		  {% endfor %}
		</ul>
		{% endif %} {# /charge2.children #}

		{% if charge2.view_all %} 

		<table border="1" width="99%" cellspacing="0" cellpadding="0" class="cc-table">
		  {% include 'law/charge_thead.html' %}
		  <tbody>
		    {% for area in charge2.all_consequences_by_area %}
		    <tr valign="top">
		      <td colspan="3" class="offensesorttype2">
			{{area.area.label}}: Breakdown by offense classification
		      </td>
		    </tr>
		    {% with "compare-showall" as section %}
		    {% include 'law/charge_row.html' %}
		    {% endwith %}
		    {% endfor %}
		  </tbody>
		</table>
	      </div> <!-- /offensebox -->
	      {% endif %} {# /charge2.view_all #}
	    </div> <!-- /tabbertab show all -->
	    {% endif %} {# /charge2 #}

	    <!-- Now, repeat, isolating each area -->

	    {% for area in charge.all_consequences_by_area %}
	    <div class="tabbertab" title="{{area.area.label}}">
	      <div class="offensebox">
		<div class="offensesorttype">
		  Breakdown by offense classification
		</div><!-- /offensesorttype -->

		<div class="offensetitle">
		  <h3 class="comparison">PRIMARY OFFENSE: </h3>
		  <h3 class="selectedoffense">{{ charge.penal_code }} {{ charge.label }}</h3>
		</div><!--  class="offensetitle" -->

		<table border="1" width="99%" cellspacing="0" cellpadding="0" class="cc-table" py:if="checked['immigration']">
		  {% include 'law/charge_thead.html' %}
		  <tbody>
		    {% with "individual" as section %}
		    {% include 'law/charge_row.html' %}
		    {% endwith %}
		  </tbody>
		</table>
	      </div><!-- /offensebox -->


	      {% if charge2 %}
	      {# IMPORTANT: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

	      {% charge_area charge2 area.area %}

	      {# that template tag overwrites the 'area' variable  #}
	      {# in the template context with the matching results #}
	      {# from charge2. very ugly but I can't figure out    #}
	      {# a better way to do it.                            #}
	      {# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

	      <div class="offensebox">
		<div class="offensesorttype">
		  Breakdown by offense classification
		</div><!-- /offensesorttype -->

		<div class="offensetitle">
		  <h3 class="comparison">COMPARE WITH: </h3>
		  <h3 class="selectedoffense">{{ charge2.penal_code }} {{ charge2.label }}</h3>
		</div><!--  class="offensetitle" -->
               
		<table border="1" width="99%" cellspacing="0" cellpadding="0" class="cc-table" py:if="checked['immigration']">
		  {% include 'law/charge_thead.html' %}
		  <tbody>
		    {% with "individual2" as section %}
		    {% include 'law/charge_row.html' %}
		    {% endwith %}
		  </tbody>
		</table>
	      </div><!-- /offensebox -->
	      {% endif %}

	    </div><!-- /tabbertab -->

	    {% endfor %}
	  </div> <!-- /outer-tabber -->


	  {% if not charge.children and charge.no_areas %}
	  <p class="offensenotvetted">This charge has not been vetted for the following areas:</p>

	  <ul>
	    {% for area in charge.no_areas %}
	    <li>{{ area.label }}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}

	</div><!-- /column-content -->
      </div><!-- /results-contentbox -->
    </div> <!-- /beta-inner -->
  </div> <!-- /beta -->
</div> <!-- /pagebody -->
</div> <!-- /container-inner -->
</div> <!-- /container -->
{% endblock %}
