<li class="offensecategory">
  {% if cgroup.classification.description %}
  <a target="_blank"
  href="{{cgroup.classification.get_absolute_url}}">{{cgroup.classification.display_label}}</a>
  {% else %}
  {{cgroup.classification.display_label}}
  {% endif %}
  <ul class="selectedcharges">
    {% for consequence in cgroup.consequences %}
    <li>
      {% if cgroup.classification.description %}
      <a target="_blank"
      href="{{cgroup.classification.get_absolute_url}}#{{consequence.consequence.id}}">{{consequence.consequence.display_label}}</a>
      {% else %}
      {{consequence.consequence.display_label}}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</li>
