{% extends "law/edit_base.html" %}
{% block title %}{{ charge.penal_code }} {{ charge.label }}{% endblock %}

{% block breadcrumbs %}
{% for p in charge.parents %}&raquo;<a href="/edit{{p.get_absolute_url}}">{{ p.penal_code }} {{ p.label }}</a>{% endfor %}
{% endblock %}

{% block content %}
{{ block.super }}
<div id="editscreen">
<div id="alpha"></div>
<div id="beta">

<h1>{{ charge.penal_code }} {{ charge.label }}</h1>


<div class="tabber">
  {% if charge.children %}
  <div id="view" class="tabbertab" title="sub-charges">

<div class="column-content hide-print">
<ul id="offenses" class="menu">
{% for child in charge.children %}
{{ child.as_edit_ul|safe}}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

<div id="add-charge" class="tabbertab" title="add sub-charge">
<form action="add_charge/" method="post">
<fieldset><legend>add sub-charge</legend>
<table>
{{ add_charge_form.as_table }}
</table>
<input type="submit" value="add charge" />
</fieldset>
</form>
</div>

{% if charge.siblings %}
<div id="reparent" class="tabbertab" title="reparent">
<form action="reparent/" method="post">
reparent to: <select name="sibling_id">
{% for sibling in charge.siblings %}
<option value="{{ sibling.id }}">{{ sibling.penal_code }} {{ sibling.label }}</option>
{% endfor %}
</select> 
<input type="submit" value="reparent" />
</form>
</div>
{% endif %}

<div id="edit" class="tabbertab" title="edit">
<form action="." method="post">
<table>
{{ edit_charge_form.as_table }}
</table>
<input type="submit" value="save" />
</form>
</div>

<div id="delete" class="tabbertab" title="delete">
<form action="delete/" method="post">
<input type="submit" value="delete this one" />
</form>
</div>

</div>



<h2>Classifications</h2>

<div class="tabber">

  {% if charge.all_classifications %}
  <div id="view-categories" class="tabbertab" title="view">

<table border="1" width="99%" cellspacing="0"
       cellpadding="0" class="categories">
<thead>
  <tr valign="top">
    <th></th>
    <th class="cc-yes">YES</th>
    <th class="cc-probably">PROBABLY</th>
    <th class="cc-maybe">MAYBE</th>
  </tr>
</thead>

  <tbody>
    <th>direct</th>
    <td>
      <ul>
	{% for cc in charge.yes %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.yes_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in charge.probably %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.all_probably_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in charge.maybe %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> 
	  (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.all_maybe_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>
  </tr>

  {% for p in charge.rparents %}
  <tr class="{% cycle 'even' 'odd' %}">
    <th><a href="/edit{{p.get_absolute_url}}">{{p.penal_code}} {{p.label}}</a></th>
    <td>
      <ul>
	{% for cc in p.yes %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.yes_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in p.probably %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.all_probably_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in p.maybe %}
	<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a> 
	  (<a href="remove_classification/{{cc.classification.id}}/">X</a>)
	  <ul>
	    {% for clco in cc.classification.all_maybe_consequences %}
	    <li><a href="/edit{{clco.consequence.area.get_absolute_url}}">{{ clco.consequence.area.label }}</a>: <a href="/edit{{clco.consequence.get_absolute_url}}">{{ clco.consequence.label }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </td>
  </tr>
{% endfor %}

</tbody>
</table>

</div>
{% endif %}

<div id="add-classification" class="tabbertab" title="add classification" />

<form action="add_classification/" method="post">
<table>
{{ charge.add_classification_form.as_table }}
</table>
<input type="submit" value="add" />
</form>

</div>
</div>

<h2>Vet for Areas</h2>

<div class="tabber">
{% if charge.chargearea_set.all %}
<div id="areas-list" class="tabbertab" title="list">
<ul>
{% for ca in charge.chargearea_set.all %}
<li><a href="/edit{{ca.area.get_absolute_url}}">{{ca.area.label}}</a>
(<a href="remove_area/{{ca.id}}/">X</a>)
</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% if charge.no_areas %}
<div id="areas-add" class="tabbertab" title="add">
<form action="add_area/" method="post">
<table>
{{ charge.add_area_form.as_table }}
</table>
<input type="submit" value="display consequences and remove 'not vetted' notice" />
</form>

</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
