{% extends "law/edit_base.html" %}

{% block content %}
{{ block.super }}

<h1><a href="../">{{consequence.area.label}}</a>/ {{ consequence.label }}</h1>
<p>{{ consequence.description }}</p>

<div class="tabber">
<div id="classifications" class="tabbertab" title="classifications">

<ul>
{% for cc in consequence.classificationconsequence_set.all %}
<li>({{cc.certainty}}) <a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a></li>
{% endfor %}
</ul>
</div>

<div id="add" class="tabbertab" title="add classification">
<form action="add_classification/" method="post">
<table>
{{ consequence.add_classification_form.as_table }}
</table>
<input type="submit" value="associate this consequence with classification" />
</form>
</div>

<div id="delete" class="tabbertab" title="delete">
<form action="delete/" method="post">
comment: <textarea name="comment"></textarea><br />
<input type="submit" value="delete this consequence" />
</form>
</div>
</div>


{% endblock %}
