{% extends "law/edit_base.html" %}

{% block title %}Classifications{% endblock %}

{% block css %}
{{ add_classification_form.media }}
{% endblock %}

{% block content %}
{{ block.super }}

<h1>Classifications</h1>

<div class="tabber">
<div id="view" class="tabbertab" title="list">
<ul>
{% for classification in classifications %}
<li><a href="/edit{{ classification.get_absolute_url}}">{{ classification.label }}</a></li>
{% endfor %}
</ul>
</div>

<div id="add" class="tabbertab" title="add">
<form action="add/" method="post">
<fieldset><legend>add classification</legend>
<table>
{{ add_classification_form.as_table }}
</table>
<input type="submit" value="add" />
</fieldset>
</form>
</div>
</div>


{% endblock %}
