{% extends "law/edit_base.html" %}

{% block content %}
{{ block.super }}

<h2>Charges</h2>


<div class="tabber">
<div id="list" class="tabbertab" title="charges">

<ul>
{% for charge in charges %}
<li><a href="/edit{{charge.get_absolute_url}}">{{ charge.penal_code }} {{ charge.label }}</a></li>
{% endfor %}
</ul>

</div>

<div id="add" class="tabbertab" title="add top level charge">
<form action="add_charge/" method="post">
<fieldset><legend>add top level charge</legend>
<table>
{{ add_charge_form.as_table }}
</table>
<input type="submit" value="add charge" />
</fieldset>
</form>
</div>
</div>

{% endblock %}
