{% extends "law/edit_base.html" %}

{% block content %}
{{ block.super }}

<h2><a href="../">{{consequence.area.label}}</a>/ {{ consequence.label }}</h2>
<p>{{ consequence.description }}</p>

<h3>classifications</h3>

<form action="add_classification/" method="post">
<table>
{{ consequence.add_classification_form.as_table }}
</table>
<input type="submit" value="associate this consequence with classification" />
</form>


<ul>
{% for cc in consequence.classificationconsequence_set.all %}
<li><a href="/edit{{cc.classification.get_absolute_url}}">{{ cc.classification.label }}</a></li>
{% endfor %}
</ul>




{% endblock %}
