{% extends "law/edit_base.html" %}

{% block title %}{{ area.label }}{% endblock %}
{% block css %}
{{ add_consequence_form.media }}
{% endblock %}
{% block content %}
{{ block.super }}

<h1>Area: {{ area.label }}</h1>

<div class="tabber">
<div id="consequences" class="tabbertab" title="consequences">

<h2>Consequences</h2>

<ul>
{% for consequence in area.consequence_set.all %}
<li><a href="/edit{{consequence.get_absolute_url}}">{{ consequence.label }}</a></li>
{% endfor %}
</ul>
</div>

<div id="add" class="tabbertab" title="add consequence">
<form action="add_consequence/" method="post">
<table>
{{ add_consequence_form.as_table }}
</table>
<input type="submit" value="add consequence" />
</form>
</div>

<div id="edit" class="tabbertab" title="edit">
<form action="." method="post">
<table>
{{ edit_area_form.as_table }}
</table>
<input type="submit" value="save" />
</form>
</div>


<div id="delete" class="tabbertab" title="delete">
<form action="delete/" method="post">
comment: <textarea name="comment"></textarea><br />
<input type="submit" value="delete this entire area" />
</form>
</div>

</div>

<h2>Charges</h2>
<p>The following charges have been vetted for this area</p>

<ul>
{% for ca in area.chargearea_set.all %}
<li><a href="/edit{{ca.charge.get_absolute_url}}">{{ca.charge.label}}</a></li>
{% endfor %}
</ul>


{% endblock %}
