{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript"
	src="/site_media/js/MochiKit/MochiKit.js"></script> 
<script type="text/javascript"
	src="/site_media/js/tabber.js"></script>
<script type="text/javascript"
	src="/site_media/js/hs.js"></script>
{% endblock %}

{% block content %}

<div id="editnav">
<a href="/edit/">/</a>
<a href="/edit/snapshots/">snapshots</a>
<a href="/edit/charge/">charges</a>
<a href="/edit/classification/">classifications</a>
<a href="/edit/area/">areas</a>
</div>


{% endblock %}
