{% extends "law/edit_base.html" %}

{% block content %}
{{ block.super }}

<h2>Classification: {{ classification.label }}</h2>
<p>{{ classification.description }}</p>

<div class="tabber">
{% if classification.all_charges %}
<div id="charges" class="tabbertab" title="charges">
<h3>charges</h3>
<table class="categories">
  <tr><th class="yes">yes</th><th class="probably">probably</th><th class="maybe">maybe</th></tr>
  <tr>
    <td>
      <ul>
	{% for cc in classification.yes %}
	<li><a href="/edit{{cc.charge.get_absolute_url}}">{{ cc.charge.label }}</a></li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in classification.probably %}
	<li><a href="/edit{{cc.charge.get_absolute_url}}">{{ cc.charge.label }}</a></li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in classification.maybe %}
	<li><a href="/edit{{cc.charge.get_absolute_url}}">{{ cc.charge.label }}</a></li>
	{% endfor %}
      </ul>
    </td>
  </tr>
</table>
</div>
{% endif %}

{% if classification.consequences %}
<div id="consequences" class="tabbertab" title="consequences">
<h3>consequences</h3>


<table class="categories">
  <tr><th class="yes">yes</th><th class="probably">probably</th><th class="maybe">maybe</th></tr>
  <tr>
    <td>
      <ul>
	{% for cc in classification.yes_consequences %}
	
	<li><a href="/edit{{cc.consequence.area.get_absolute_url}}">{{ cc.consequence.area.label }}</a>: <a href="/edit{{cc.consequence.get_absolute_url}}">{{ cc.consequence.label }}</a>(<a href="remove_consequence/{{cc.consequence.id}}/">X</a>)</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in classification.probably_consequences %}
	<li><a href="/edit{{cc.consequence.area.get_absolute_url}}">{{ cc.consequence.area.label }}</a>: <a href="/edit{{cc.consequence.get_absolute_url}}">{{ cc.consequence.label }}</a>(<a href="remove_consequence/{{cc.consequence.id}}/">X</a>)</li>
	{% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for cc in classification.maybe_consequences %}
	<li><a href="/edit{{cc.consequence.area.get_absolute_url}}">{{ cc.consequence.area.label }}</a>: <a href="/edit{{cc.consequence.get_absolute_url}}">{{ cc.consequence.label }}</a>(<a href="remove_consequence/{{cc.consequence.id}}/">X</a>)</li>
	{% endfor %}
      </ul>
    </td>
  </tr>
</table>
</div>
{% endif %}

<div id="add-consequence" class="tabbertab" title="add consequence" />
<form action="add_consequence/" method="post">
<table>
{{ classification.add_consequence_form.as_table }}
</table>
<input type="submit" value="add consequence" />
</form>
</div>

<div id="delete" class="tabbertab" title="delete">
<form action="delete/" method="post">
comment: <textarea name="comment"></textarea><br />
<input type="submit" value="delete this entire classification" />
</form>
</div>

</div>

{% endblock %}
