{% extends "base.html" %}
{% block content %}
{{ block.super }}

<h1>Area: {{ area.label }}</h1>

<h2>Consequences</h2>

<ul>
{% for consequence in area.consequence_set.all %}
<li><a href="{{consequence.get_absolute_url}}">{{ consequence.label }}</a></li>
{% endfor %}
</ul>


<h2>Charges</h2>
<p>The following charges have been vetted for this area</p>

<ul>
{% for ca in area.chargearea_set.all %}
<li><a href="{{ca.charge.get_absolute_url}}">{{ca.charge.label}}</a></li>
{% endfor %}
</ul>

{% endblock %}



