<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Collateral Consequences Calculator--New York State</title>
	<link rel="stylesheet" href="/site_media/css/main.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />



	{% block css %}{% endblock %}

	{% block feeds %}{% endblock %}

    <style type="text/css">
        #pageLogin
        {
            font-size: 10px;
            font-family: verdana;
            text-align: right;
        }
    </style>
    <script src="/site_media/js/mochikit/MochiKit/MochiKit.js" type="text/javascript"></script>
    <script src="/site_media/js/hs.js" type="text/javascript"></script>


<script type="text/javascript">

/*==================================================
  Set the tabber options (must do this before including tabber.js)
  ==================================================*/
var tabberOptions = {

  'cookie':"tabber", /* Name to use for the cookie */

  'onLoad': function(argsObj)
  {
    var t = argsObj.tabber;
    var i;

    /* Optional: Add the id of the tabber to the cookie name to allow
       for multiple tabber interfaces on the site.  If you have
       multiple tabber interfaces (even on different pages) I suggest
       setting a unique id on each one, to avoid having the cookie set
       the wrong tab.
    */
    if (t.id) {
      t.cookie = t.id + t.cookie;
    }

    /* If a cookie was previously set, restore the active tab */
    i = parseInt(getCookie(t.cookie));
    if (isNaN(i)) { return; }
    t.tabShow(i);
  },

  'onClick':function(argsObj)
  {
    var c = argsObj.tabber.cookie;
    var i = argsObj.index;
    setCookie(c, i);
  }
};
</script>


    <script src="/site_media/js/tabber.js" type="text/javascript"></script>
    <script src="/site_media/js/sniffer.js" type="text/javascript"></script>
	{% block js %}{% endblock %}
</head>

<body {% block bodyclass %}{% endblock %}>
<div id="container">
  <div id="container-inner">

{% block masthead %}
	<!-- ###### Site banner ###### -->
	<div id="banner">
	  <div id="banner-inner">
	    <h2 id="banner-department">Columbia Law School</h2>
	    <h1 id="banner-header"><a href="/" title="Return to main
	    page"><span class="bigger">C</span>ollateral <span class="bigger">C</span>onsequences <span class="bigger">C</span>alculator—<span class="bigger">N</span>ew <span class="bigger">Y</span>ork <span class="bigger">S</span>tate</a></h1>

	  </div>
	</div><!-- id="header" -->

		<!-- CCKC identity navigation -->
		<div id="idnav">
			<div id="idnav-inner">

				<ul>
					<li id="cckc_disclaimer"><a href="/disclaimer">Disclaimer</a></li>
					<li id="cckc_fb"><a href="/feedback">Send feedback</a></li>
					<li id="cckc_home"><a href="/" title="Return to CCKC Home">Home</a></li>
					<li id="cckc_alert">You are using an <a href="/requirements" title="This is an unsupported browser.  Please see system requirements for CCKC">unsupported browser</a>.  Please read the <a href="/requirements" title="System requirements for CCKC">system requirements</a>.</li>
				</ul>
			</div><!-- id=idnav-inner -->
		</div><!-- id=idnav -->
		
		<div class="hiddenblock">
		<hr />
		</div><!-- id=hiddenblock -->


{% endblock %}


	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">
{% block primarynavtabs %}
{% endblock %}
	  {% block content %}{% endblock %}
	</div><!-- id="pagebody" -->

	<div class="hiddenblock">
	<hr />
	</div><!-- id=hiddenblock -->
	
	</div><!-- id=container-inner -->	
</div><!-- id=container -->

<div id="footer">
	<div class="hiddenblock">
		<table border="0" cellspacing="2" cellpadding="0" align="right">
			<tr>
				<td>&nbsp;&nbsp;</td>
				<td colspan="5" class="columbiarow">C&nbsp;O&nbsp;L&nbsp;U&nbsp;M&nbsp;B&nbsp;I&nbsp;A</td>
			</tr>
			<tr>
				<td>&nbsp;&nbsp;</td>
				<td class="acronym">C</td>
				<td class="acronym">N</td>
				<td class="acronym">M</td>
				<td class="acronym">T</td>
				<td class="acronym">L</td>
			</tr>
		</table>
	</div><!-- id=hiddenblock -->
	
	<h3 id="ccnmtl-link"><a href="http://ccnmtl.columbia.edu/" title="Columbia Center for New Media Teaching and Learning"><span>Developed by Columbia Center for New Media Teaching and Learning</span></a></h3>
	<h3 class="hiddenblock">General Information about Collateral Consequences Calculator:</h3>
	<ul>
		<li><a href="/requirements" title="System requirements for this tool">System Requirements</a></li>
		<li><a href="./about" title="More information about this tool">About</a></li>
		<li><a href="./help" title="Help on how to use this tool">Help</a></li>
	</ul>
</div><!-- id=footer -->


</body>
</html>



