{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
<script type="text/javascript" src="/site_media/js/tabber.js"></script>
<script type="text/javascript" src="/site_media/js/hs.js"></script>
{% endblock %}

{% block primarynavtabs %}
<ul id="primarynavtabs">
  <li><a href="/edit/">/</a></li>
  <li><a href="/edit/snapshots/">snapshots</a></li>
  <li><a href="/edit/charge/">charges</a></li>
  <li><a href="/edit/classification/">classifications</a></li>
  <li><a href="/edit/area/">areas</a></li>
  <li><a href="/accounts/logout/">[logout]</a></li>
</ul><!-- id="primarynavtabs" -->
{% block breadcrumbs %}{% endblock %}
{% endblock %}

{% block usernav %}
<div id="usernav">
  <div id="search">
  <form action="/edit/search/" method="get">
    <input type="text" name="q" />
    <input type="submit" value="search" />
  </form> 
  </div>
</div>
{% endblock %}

