{% extends "law/edit_base.html" %}
{% block js %}

{% endblock %}
{% block content %}
<div id="editscreen">
{{ block.super }}

<h1>Charges</h1>


<div class="tabber">
<div id="list" class="tabbertab" title="charges">
<br />
      <div class="column-content hide-print">
<ul id="offenses" class="menu">
{% for charge in charges %}
{{ charge.as_edit_ul|safe }}
{% endfor %}
</ul>
</div>
</div>

<div id="add" class="tabbertab" title="add top level charge">
<form action="add_charge/" method="post">
<fieldset><legend>add top level charge</legend>
<table>
{{ add_charge_form.as_table }}
</table>
<input type="submit" value="add charge" />
</fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
