{% extends "base.html" %}
{% load markup %}
{% block js %}

<script type="text/javascript">

function collectFeedback(form) {
    var role = form.role.value;
    var message = form.message.value;
    var additional_message = form.additional_message.value;
    form.description.value = "Role: " + role + "\n\n" + "Did you have difficulty finding what you were looking for? \n" + message + "\n\n" + "Additional Message: \n" + additional_message;
    if (form.email.value == ""||form.email.value == null) {
       alert("email is required");
       return false;
    } else {
       if ((form.message.value == "" || form.message.value == null) &&
           (form.additional_message.value == "" || form.additional_message.value == null)) {
           alert("please do not submit an empty feedback form");
           return false;
        }
       return true;
    }
}

</script>

{% endblock %}
{% block content %}
{{ block.super }}

<div style="display: block;" id="feedbackform"> 
  <h1>Send Feedback</h1> 
	<p>Please use this form to send us feedback about the Calculator's usefulness, design or content. As the home page indicates, in this initial version of the Calculator, we have analyzed the immigration consequences of the top 200 crimes that are most commonly charged or carry consequences that are most commonly misunderstood. We welcome suggestions for crimes that are not now analyzed but, in your view should be if we are able to expand the Calculator's coverage.</p> 
	<p>You may also contact us at <a href="mailto:cckc@columbia.edu">cckc@columbia.edu</a>.</p> 
  <form action="."
	method="post"
	onsubmit="return collectFeedback(this)"> 
	<input type="hidden" name="pid" value="343" /> 
	<input type="hidden" name="mid" value="1690" /> 
	<input type="hidden" name="redirect_url" value="http://cckc.ccnmtl.columbia.edu/thanks" /> 
	<table cellpadding="4" cellspacing="0" border="0"> 
		<tr valign="middle"> 
			<td align="right">Your name: </td> 
			<td align="left"><input type="text" name="name" /></td> 
		</tr> 
		<tr valign="middle"> 
			<td align="right">Your e-mail (required): </td> 
			<td align="left"><input type="text" name="email" /></td> 
		</tr> 

		<tr valign="middle">
		  <td align="right">
How would you describe yourself? Judge, Defense Counsel,
Prosecutor, Academic or other?</td>
		  <td align="left"><input type="text" name="role" /></td>
		</tr>

		<tr valign="middle">
		  <td align="right">
Did you have difficulty finding what you were looking for? If
yes, please describe.</td>
		  <td align="left">
		    <textarea rows="10" name="message" cols="60"></textarea>
		  </td>
		</tr>
		<tr valign="top"> 
			<td align="right">Additional Message: </td> 
			<td align="left"><textarea rows="10" name="additional_message" cols="60"></textarea></td> 
		</tr> 
		<tr valign="top"> 
			<td align="right">&#xa0;</td> 
			<td align="left">
			  <!-- need this to collect multiple fields into one -->
			  <input type="hidden" name="description"
			  value="" />
			  <input type="submit" class="searchButton" value="Send feedback" />
			</td> 
		</tr> 
	</table> 
</form> 
<p>&#xa0;</p> 
  </div> 


{% endblock %}
